<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:theme="@style/Theme.MyMiniProfile">

        <!-- MainActivity uses NoActionBar -->
        <activity
            android:name=".MainActivity"
            android:theme="@style/Theme.MyMiniProfile.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- All detail activities use DetailActivity theme -->
        <activity
            android:name=".PersonalInformationActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".NotificationsActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".TimeSpentActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".FollowingActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".PrivacyPolicyActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".TermsConditionActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

        <activity
            android:name=".FaqHelpActivity"
            android:theme="@style/Theme.MyMiniProfile.DetailActivity" />

    </application>
    </manifest>